body
{
   
    direction: rtl;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #1E798D;
    padding: 5px;
    width: 100%;
    height: 50px;
    direction: ltr;
    text-align: center;
}
.header .container a
{
    text-decoration: none;
    color: #fff;
}
.header .container .row
{
    margin-left: 450px;
}
.imgg
{
    max-width:  100%;
    border-radius: 10px;
    margin-top: -60px;
    left: 20px; 
    box-shadow: 0 5px 20px rgba(0,0,0,1.2); 
}
.banner-area
{
    height: 105vh;
    width: 100%;
    background-image: url(imgs/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.menu-area{
    position: static;
}
.mega-area
{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;  
}
#menuUL
{
    padding-bottom: 10px;
}
.dropdown-item
{
    padding: 5px 0;
   
}
.navbar
{
    margin-top: 1px;
}
.row ul a{
      text-align: right;
      color: black;
    text-decoration: none;   
}
.imgss
{
    width: 60px;
    height: 40px;
    padding-left: 10px;
    
}
/* box */
.counts
{
    /* background: linear-gradient(45deg,blueviolet,lightgreen); */
    padding: 15px 9%;
    padding-bottom: 100px;
    padding-top: 15px;

}
.counts .box-containerS
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 15px;
}
.counts .box-containerS .box
{
    margin-top: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}
.counts .box-containerS .box h3
{
    color: #444;
    font-size: 22px;
    padding: 10px 0;

}
.counts .box-containerS .box p
{
    color: #777;
    font-size: 15px;
  line-height: 1.8;
  
    
}
.counts .box-containerS .box .btn 
{
    margin-top: 10px;
    display: inline-block;
    background: #1E798D;
    color: #fff;
    font-size: 15px;
    border: 5px;
    padding: 8px 25px;
    width: 100%;
}
.counts .box-containerS .box .btn:hover
{
    letter-spacing: 1px;
}

.counts .box-containerS .box:hover
{
box-shadow: 0 10px 15px rgba(0,0,0,.3);
transform: scale(1.03);
}
/* soical-media */
.soical-media
{
    padding: 20px;
}
.soical-media i 
{
    padding: 20px;
    width: 10%;
    
}
.soical-media a 
{
   color: #fff;
}
/* /soical-media */
@media (max-width:760px)
{
    .footers
    {
        margin-top: 12500px;
    }
    .header {
        background-color: #1E798D;
        
        width: 100%;
        height: 50px;
        direction: ltr;
        text-align: center;
    }
    .header .container .row
    {
        margin-left: 50px;
    }
   
  
}
