body {
    direction: rtl;
    margin: 0;
    padding: 0;
}

.header {

    padding: 5px;
    width: 100%;

    direction: ltr;
    text-align: center;
}

.header .container a {
    text-decoration: none;
    color: #fff;
}

.header .container .row {
    margin-left: 320px;
}

.banner-area {
    height: 100vh;
    width: 100%;
    background-image: url(imgs/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;


}



#menuUL {
    padding-bottom: 10px;
}

.dropdown-item {
    padding: 5px 0;

}

.navbar {
    margin-top: 1%;
    width: 100%;
    color: #fff;
    background: rgba(31, 31, 31, 0.233);

}

.row ul a {
    text-align: right;
    /* color: #f3f4f7; */
    text-decoration: none;
}

.imgss {
    width: 60px;
    height: 40px;
    padding-left: 10px;

}
.card-group
{
    padding: 15px;
}

/* countar */
.box-container {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #d9d9d9; */
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.box-container .box {
    text-align: center;
    margin: 50px;
    height: 170px;
    width: 230px;
    position: relative;
    z-index: 1;
}

.box-container .box::before,
.box-container .box::after {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
    background: #2980b9;
}

.box-container .box::after {

    top: 0px;
    bottom: 0px;
    right: 10;
    left: 10;
    z-index: -1;
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
    background: #fff;
}

.box-container .box i {
    color: #999;
    font-size: 30px;
    padding: 13px 0;
}

.box-container .box .title {
    font-size: 20px;
    text-transform: capitalize;
    color: #2980b9;
    padding-bottom: 10px;
}

.box-container .box .counter {
    font-size: 30px;
    color: #999;
}

/* .box-container .box:nth-child(3)::before {
    background: #16a085;
}

.box-container .box:nth-child(3).title {
    background: #16a085;
} */

.box-container .box:nth-child(4)::before {
    background: #16a085;
}

.box-container .box:nth-child(4).title {
    background: #16a085;
}
/* added counts */
.box-container1 {
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #d9d9d9; */
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.box-container1 .box {
    text-align: center;
    
    margin: 50px;
    height: 170px;
    width: 230px;
    position: relative;
    z-index: 1;
}

.box-container1 .box::before,
.box-container1 .box::after {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
    background: #2980b9;
}

.box-container1 .box::after {

    top: 0px;
    bottom: 0px;
    right: 10;
    left: 10;
    z-index: -1;
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
    background: #fff;
}

.box-container1 .box i {
    color: #999;
    font-size: 30px;
    padding: 13px 0;
}

.box-container1 .box .title {
    font-size: 20px;
    text-transform: capitalize;
    color: #2980b9;
    padding-bottom: 10px;
}

.box-container1 .box .counter {
    font-size: 30px;
    color: #999;
}

/* .box-container1 .box:nth-child(3)::before {
    background: #16a085;
}

.box-container1 .box:nth-child(3).title {
    background: #16a085;
} */

.box-container1 .box:nth-child(4)::before {
    background: #16a085;
}

.box-container1 .box:nth-child(4).title {
    background: #16a085;
}
/* tweets box */
.countss
{
    padding: 15px 9%;
    padding-bottom: 100px;
    padding-top: 15px; 
    margin: auto;
}
.countss .box-containerS .box {
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    height: 100%;
    max-width: 50%;
}
/* /tweets box */
/* box */
.counts {
    /* background: linear-gradient(45deg,blueviolet,lightgreen); */
    padding: 15px 9%;
    padding-bottom: 100px;
    padding-top: 15px;

}

.counts .box-containerS {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.counts .box-containerS .box {
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.counts .box-containerS .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;

}

.counts .box-containerS .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;


}

.counts .box-containerS .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 15px;
    border: 5px;
    padding: 8px 25px;
}

.counts .box-containerS .box .btn:hover {
    letter-spacing: 1px;
}

.counts .box-containerS .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}
.navbar-toggler
{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}


/* partners */
/* .image-container {
    overflow-x: hidden;
    max-width: 768px;
    margin: auto;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
.imgslider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
} */
:root
{
    direction: ltr;
    --total-brand: 40;
    --logo-width: 12rem;
    --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2 );
    --animation-duration:calc(var(--total-brand) * 1.5s)

}
.forLogo
{
    direction: ltr;
    min-height: 50vh;
    /* background-color: whitesmoke; */
    display: grid;
    place-items: center;
}
.slider
{
    position: relative;
    width: 100vw;
    height: 10rem;
    background-color: #fff;
    box-shadow: 0 .8rem 1.4rem -.2rem #0001;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.slider .brands .brand-logo img
{
    width: 350px;
    height: 123px;
    
}
.slider::before,
.slider::after
{
    position:absolute;
    content: "";
    height: 100%;
    width: var(--logo-width);

}
.slider::before
{
    left: 0;
    background: linear-gradient(to right,#fff 0%, #fff0 100%);
}
.slider::after
{
    right: 0;
    background: linear-gradient(to left,#fff 0%, #fff0 100%);
}
.slider ul.brands
{
    list-style: none;
    width: var(--total-logo-width);
    display: flex;
    animation: slideLeft var(--animation-duration) linear infinite;
}
.slider:hover ul.brands
{
    animation-play-state: paused;
}
@keyframes slideLeft
{
    100%
    {
        transform: translateX(calc(-100% /2));
    }
}
ul.brands li.brand-logo
{
    width: var(--logo-width);
    font-size: 2rem;
    text-align: center;
    margin-left: 3rem;

}
/* //partners */
/* soical-media */
.soical-media
{
    padding: 20px;
}
.soical-media i 
{
    padding: 20px;
    width: 10%;
    
}
.soical-media a 
{
   color: #fff;
}
/* /soical-media */
@media (max-width:760px)
{
    /* tweets box */
.countss
{
    padding: 15px 9%;
    padding-bottom: 100px;
    padding-top: 15px; 
    margin: auto;
}
.countss .box-containerS .box {
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    height: 100%;
    max-width: 100%;
}
    .counts .box-containerS .box {
        margin-top: -20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        border-radius: 40px;
        background: #fff;
        text-align: center;
        /* padding: 30px 20px; */
    }
    .header {
    
        
        width: 100%;
        height: 50px;
        direction: ltr;
        text-align: center;
    }
    .header .container .row
    {
        margin-left: 50px;
    }
    #foot
    {
        margin-top: 1450px;
    }
}
#slider {
    direction: ltr;
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   /* border: 3px solid #ccc; */
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 a
{
    text-decoration: none;
    color: #fff;
}
#slides .slide_2 a
{
    text-decoration: none;
    color: #fff;
}
#slides .slide_3 a
{
    text-decoration: none;
    color: #fff;
}
#slides .slide_1 {
    background: #1E798D;
}
#slides .slide_2 {
   background: #1E798D;
}
#slides .slide_3 {
    background: #1E798D;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}